.navbar {
    background-color: #563d7c;
}

.fab {
    font-size: 35px;
    margin-right: 20px;
    color: #fd7e14;
}
.fab:hover {
    opacity: 0.7;
}

.post_item {
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
}

.post_item p small {
    font-style: italic;
    opacity: 0.8;
}

.profile-image {
    max-height: 85px;
    max-width: 85px;
}

.comment-author-img {
    height: 60px;
    width: 60px;
}

.footer {
    background-color: #563d7c;
    color: white;
}

.footer li a {
    color: white;
}
