<!doctype html>
{% load blog_tags %}
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1402883464.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background: #f9f9f9 url('{% static 'blog/img/page-bg-1.jpg' %}'); background-attachment: fixed;">

<div class="container">  {#-fluid pl-lg-5 pr-lg-5#}
    {% include 'blog/navbar.html' %}
    <div class="row">
        <div class="col-lg-8 col-sm-12 mt-3">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-lg-4 mt-3 sidebar">
            <form class="input-group my-2 my-lg-0" action="{% url 'search' %}">
                <input type="text" class="form-control" name="q" placeholder="Search">
                <button class="btn my-sm-0 border" type="submit" style="background: #00ffff;"><i class="fas fa-search"></i></button>
            </form>
            <h5 class="title-bg">Last Posts</h5>
            {% show_latest_posts %}
            <h5 class="title-bg">Most popular</h5>
            {% get_most_commented_posts as most_commented_posts %}
            {% for post in most_commented_posts %}
                <div class="media mb-2">
                  <img src="{{ post.image.url }}" class="align-self-start m-2" alt="..." style="height: 80px; width: 80px;">
                  <div class="media-body ml-2 mt-1">
                      <a class="mt-2" href="{{ post.get_absolute_url }}" style="color: #222;">
                          <p>{{ post.title }}</p>
                      </a>
                      <p class="mb-0"><small>{{ post.publish }}</small></p>
                  </div>
                </div>
            {% endfor %}
            <h5 class="title-bg">Last comments</h5>
            {% get_latest_comments as latest_comments %}
            {% for comment in latest_comments %}
                <div class="comment">
                    <img src="{{ comment.user.profile.image.url }}" alt="Image" />
                    <span class="comment-name">{{ comment.user }}</span>
                    <span class="comment-date">{{ comment.created|date:"F d, Y" }}</span>
                    <div class="comment-content">{{ comment.body|linebreaks }}</div>
                </div>
            {% endfor %}
            <h5 class="title-bg">Rss chanel</h5>
              <i class="fas fa-rss"></i><p class="d-inline-block"><a class="rss_chanel" href="{% url 'post_feed' %}">Subscribe to my RSS feed</a></p>
            <h5 class="title-bg">Tags</h5>
            {% get_sidebar_tags as sidebar_tags %}
            <div class="sidebar_tags">
                <i class="fas fa-tags"></i>
                {% for tag in sidebar_tags %}
                    <a href="{% url 'post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <h5 class="title-bg">Video Preview</h5>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qp5KU-U9nII" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% include 'blog/footer.html' %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
