<!doctype html>
{% load blog_tags %}
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1402883464.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background: #f9f9f9 url('{% static 'blog/img/page-bg-1.jpg' %}'); background-attachment: fixed;">
<div class="container">
    {% include 'blog/navbar.html' %}
    <div class="row mb-4">
        <div class="col-lg-12">
            <h2>About us</h2>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Architecto soluta delectus, saepe laborum quo vel sequi
                sunt modi similique quaerat beatae doloremque magni numquam
                libero ratione neque et! Blanditiis, libero.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dicta maxime ad non dolorum sapiente velit nulla ut, facilis
                tempore qui assumenda ea et aliquid perferendis, cumque laboriosam
                tempora in. Sed.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Architecto soluta delectus, saepe laborum quo vel sequi
                sunt modi similique quaerat beatae doloremque magni numquam
                libero ratione neque et! Blanditiis, libero.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dicta maxime ad non dolorum sapiente velit nulla ut, facilis
                tempore qui assumenda ea et aliquid perferendis, cumque laboriosam
                tempora in. Sed.
            </p>
        </div>
        <div class="col-lg-4">
            <img class="w-100" src="{% static 'blog/img/futures_img.jpg' %}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 latest_posts">
            <h5 class="title-bg">Our latest posts</h5>
        </div>
    </div>
    <div class="row mt-4">
        {% for post in latest_posts %}
            <div class="col-lg-3 mb-5">
                {% if post.image %}
                    <a href="{{ post.get_absolute_url }}">
                        <img class="w-100" src="{{ post.image.url }}" alt="" style="height: 180px;">
                    </a>
                {% endif %}
                <div class="post_item_body" style="border-bottom: 1px dotted #a9a9a9;">
                    <p>{{ post.title }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'blog/footer.html' %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
