{% load static %}
{% load i18n %}
<div class="row pt-3 text-right">
    <div class="col-lg-12">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <a class="language_btn" href="/{{ language.code }}/">
                {{ language.name_local }}
            </a>
        {% endfor %}
    </div>
</div>
<div class="row header">
    <div class="col-lg-5 logo">
        <img src="{% static 'blog/img/safety.png' %}" alt="">
        <h5>Indastrial safety solutions</h5>
    </div>
    <div class="col-lg-7 navigation">
        <div class="navbar">
            <ul class="nav">
                <li><a href="/">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'post_list' %}">{% trans 'Blog' %}</a></li>
                <li><a href="{% url 'images_list' %}">{% trans 'Galery' %}</a></li>
                <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                  <li><a href="{% url 'profile' %}">{{ request.user.username }}</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                  <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
