{% load static %}
<div class="row header">
    <div class="col-lg-5 logo">
        <img src="{% static 'blog/img/safety.png' %}" alt="">
        <h5>Indastrial safety solutions</h5>
    </div>
    <div class="col-lg-7 navigation">
        <div class="navbar">
            <ul class="nav">
                <li><a href="/">Главная</a></li>
                <li><a href="{% url 'post_list' %}">Блог</a></li>
                <li><a href="{% url 'images_list' %}">Галерея</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Выход</a></li>
                  <li><a href="{% url 'profile' %}">{{ request.user.username }}</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">Вход</a></li>
                  <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
