{% load static %}

<div class="row header">
    <div class="col-lg-5 logo">
        <img src="{% static 'blog/img/safety.png' %}" alt="">
        <h5>Indastrial safety solutions</h5>
    </div>
    <div class="col-lg-7 navigation">
        <div class="navbar">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="{% url 'post_list' %}">Blog</a></li> -->
                <li><a href="#">Galery</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if request.user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  <li><a href="{% url 'profile' %}">{{ request.user.username }}</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                  <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
