{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p>Для входа введите имя пользователя или адресс электронной почты.</p>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="next" value="{{ next }}"/>
                <input type="submit" value="Войти">
            </form>
            <div class="mt-4">
                <p>Еще не создан профиль? вы можете зарегистрироваться <a href="{% url 'register' %}">Здесь</a></p>
            </div>
            <div class="mt-4">
                <p>Забыли пароль? <a href="{% url 'password_reset' %}">Восстановить пароль</a></p>
            </div>
        </div>
        <div class="col-lg-6">
            <p>Также вы можете войти с помощью учетной записи Google</p>
            <div>
                <a class="btn btn-outline-success" href="{% url 'social:begin' 'google-oauth2' %}">Войти через Google</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
