{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-lg-6">
            <h5 class="title-bg">Информация профиля</h5>
            <img class="rounded-circle profile-image" src="{{ user.profile.image.url }}" alt="">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <input type="submit" name="" value="Обновить">
            </form>
            <div class="mt-4 mb-4">
                <a class="btn btn-info pr-5 pl-5" href="{% url 'password_change' %}">Изменить пароль</a>
            </div>
        </div>

        <div class="col-lg-6">
            <h5 class="title-bg">Комментарии</h5>
            {% for comment in last_comments %}
                <div class="media comment-section mb-3 bg-light pr-2">
                    <div class="media-body">
                        <div class="comment-metadata">
                            <a class="ml-2" href="{{ comment.post.get_absolute_url }}">{{ comment.post }}</a>
                            <p class="comment_username border-bottom">
                                <small class="comment_timestamp text-muted ml-2">
                                    {{ comment.created|date:"F d, Y" }}
                                </small>
                            </p>
                        </div>
                        <p class="comment_body ml-2">{{ comment.body }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-12">
            <h5 class="title-bg">Статьи с отметкой "Like"</h5>
            {% for post in favorite %}
                <div class="media mb-2" style="background: #f8f8f8;">
                  <img src="{{ post.image.url }}" class="align-self-start m-2" alt="..." style="height: 80px; width: 80px;">
                  <div class="media-body ml-2 mt-1">
                      <h5><a href="{{ post.get_absolute_url }}" style="color: #222">{{ post.title }}</a></h5>
                      <p class="mb-0"><small>{{ post.publish }}</small></p>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
